:root{
    --bg-color: #ffffff;
    --text-color: #000000;
    --page-height: 100vh;
    --page-width:100vw;
    --font-body:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-header:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --primary-color: color(display-p3 0.65 0.65 0.65);
    --secondary-color: color(display-p3 0.85 0.85 0.85);
}

#themeToggleButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:auto 1fr;
    min-height: var(--page-height);
    width: var(--page-width);
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color:var(--primary-color,rgb(206, 206, 206));
    min-height: var(--page-height, 100%); 
    width: 30vw;
    border-color: black;
    border-style: solid;
    align-items: center;
    grid-row:1 / 2;
    grid-column: 1 / 2;
    font-family: 'Courier New';
}
main{
    background-color:var(--secondary-color,rgb(206, 206, 206));
    width: 65vw;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    animation: fadeIn 0.8s ease-in-out forwards;
}
#navTitle{
    font-family: var(--font-header, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif);
    background-color:black;
    width: 100%;
    text-align: center;
    color: white;
    
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5dvw;
    
}

nav ul li {
    width: 100%;
}
nav ul li a {
    display: block;
    text-decoration: none;
    background-color:black;
    padding: 1rem 3rem;
    color:white;
    text-align: center;
    font-family: var(--font-body);
}
nav ul li a:hover {
    background-color: white;
    color: black;  
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


footer {
    padding: 3dvh;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    body {
        display: block; /* Stack elements vertically */
    }
    header {
        width: 100%;
        height: auto;
    }
    main {
        width: 100%;
    }
}
